<h2 class="m-5">投稿内容編集</h2>
<div class="container">
  <%= form_with model: @post_article, url: post_article_path, local:true do |f| %>
  <div class="row my-3 align-items-center">
    <div class="col-md-3">
      <%= f.label "画像"　%>
    </div>
    <div class="col-md-6">
      <%= f.attachment_field :image %>
    </div>
  </div>
  <div class="row my-3 align-items-center">
    <div class="col-md-3">
      <%= f.label "タイトル", class: "form-label" %>
    </div>
    <div class="col-md-6">
      <%= f.test_field :title, class: "form-label" %>
    </div>
  </div>
  
  <% end %>
</div>