<div class="container">
  <h2 class="m-3">管理者ログイン</h2>

  <%= form_with model: @admin, url: admin_session_path, local: true do |f| %>
    <div class="row my-3 justify-content-center align-items-center">
      <div class="col-3">
        <%= f.label :email, "メールアドレス", class: "form-label" %>
      </div>
      <div class="col-6">
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
      </div>
    </div>

    <div class="row my-3 justify-content-center align-items-center">
      <div class="col-3">
        <%= f.label :password, "パスワード" %>
      </div>
      <div class="col-6">
        <%= f.password_field :password, autocomplete: "current-password", class: "form-control" %>
      </div>
    </div>

    <div class="row my-3 justify-content-center">
      <%= f.submit "ログイン", class: "btn btn-primary" %>
    </div>
  <% end %>

</div>
