<h2 class="m-5"><%= @user.name %>さんの会員情報編集 %></h2>
<div class="container">
  <%= form_with model @user, url: admin_user_path, local:true do |f| %>
  <div class="row my-3 align-items-center">
    <div class="col-2">
      <%= f.label "プロフィール画像", class: "form-label" %>
    </div>
    <div class="col-3">
      プロフィール画像ここに
    </div>
  </div>
  <div class="row my-3 align-items-center">
    <div class="col-2">
      <%= f.label "会員ID", class: "form-label" %>
    </div>
    <div class="col-3">
      <%= @user.id %>
    </div>
  </div>
   <div class="row my-3 align-items-center">
    <div class="col-2">
      <%= f.label "ユーザーネーム", class: "form-label" %>
    </div>
    <div class="col-3">
      <%= @user.name %>
    </div>
  </div>
   <div class="row my-3 align-items-center">
    <div class="col-2">
      <%= f.label "プロフィール文", class: "form-label" %>
    </div>
    <div class="col-3">
      <%= @user.introduction %>
    </div>
  </div>
   <div class="row my-3 align-items-center">
    <div class="col-2">
      <%= f.label "メールアドレス", class: "form-label" %>
    </div>
    <div class="col-3">
      <%= @user.email %>
    </div>
  </div>
   <div class="row my-3 align-items-center">
    <div class="col-2">
      <%= f.label "会員ステータス", class: "form-label" %>
    </div>
    <div class="col-3">
      <%= f.radio_button :is_active, :true %>
      <%= f.label :is_active, "有効" %>
      <%= f.radio_button :is_active, :false %>
      <%= f.label :is_active, "退会" %>
    </div>
  </div>
  <div class="row justify-content-center">
    <%= f.submit "変更を保存", class: "btn btn-success" %>
  </div>
</div>
