<div class="container">
  <h2 class="m-3">プロフィール編集</h2>
  <div>
  <%= form_with model: @user, url: users_path, local:true do |f| %>
    <table class="table table-borderless">
      <tbody>
        <tr>
          <td><%= attachment_image_tag @user, :profile_image, fill,60,60, fallback: "no_image.jpg" %></td>
          <td><%= f.label "プロフィール画像" %></td>
          <td><%=f.attachment_field :profile_image, placeholder: "プロフィール画像" %></td>
        </tr>
        <tr>
          <td><%= f.label "ユーザーネーム" %></td>
          <td><%= f.text_field :name, autofocus: true, class: "form-control" %></td>
        </tr>
        <tr>
          <td><%= f.label "プロフィール" %></td>
          <td><%= f.text_field :introduction, autofocus: true, class: "form-control" %></td>
        </tr>
        <tr>
          <td><%= f.label "メールアドレス" %></td>
          <td><%= f.text_field :email, class: "form-control" %></td>
        </tr>
      </tbody>
    </table>
    <div class="row justify-content-center">
      <div class="col-3">
        <%= f.submit "編集内容を保存", class="btn btn-success" %>
      </div>
      <div class="col-3">
        <%= link_to "退会する", users_unsubscribe_path, method: :get, class: "btn btn-danger" %>
      </div>
    </div>
  <% end %>
  </div>
</div>