<div class="container">
  <h3 class="m-3"><%= @user.name %>さんのマイページ</h3>
  <div class="row my-3">
    <div class="col-2">
      <h5 class="font-weight-bold">登録情報</h5>
    </div>
    <div class="col">
      <%= link_to "編集する", edit_users_path, class: "btn btn-success" %>
    </div>
  </div>
  <table class="table table-bordered">
    <tbody>
      <tr>
        <td>プロフィール画像</td>
        <td><%= attachment_image_tag @user, :profile_image, :fill, 100, 100, format: 'jpeg', fallback: "no_image.jpg" </td>
      </tr>
      <tr>
        <td>ユーザーネーム</td>
        <td><%= @user.name %></td>
      </tr>
      <tr>
        <td>プロフィール</td>
        <td><%= @user.introduction %></td>
      </tr>
      <tr>
        <td>メールアドレス</td>
        <td><%= @user.email %></td>
      </tr>
    </tbody>
  </table>
  <div class="row my-3">
    <div class="col-2">
      <h5 class="font-weight-bold">投稿履歴</h5>
    </div>
    <div class="col">
      <%= "一覧を見る", class: "btn btn-primary" %>
    </div>
  </div>

  <h3 class="text-center">カレンダー</h3>
  <!--カレンダーの表示 -->
  <div id="calendar"></div>
  <!-- もしユーザーがログインしていたら -->
  <% if user_signed_in? %>
    <!-- ページのparams.idがログインユーザー.idと同じなら -->
    <% if @user.id == current_user.id %>
      <div id="inputScheduleForm" class="model fade" tabindex="-1">
        <div class="model-dialog model-nm">
          <div class="model-content">
            <div class="model-header">
              <h4 class="model-title">スケジュール登録</h4>
            </div>
            <div class="model-body">
              <%= form_with model: @event, url: events_path do |f| %>
                <div class="col">
                  <p>
                    <span>タイトル</span>
                    <span>
                      <%= f.text_field :title, class: "form-control", placeholder: "タイトルを入力してください" %>
                    </span>
                  </p>
                  <span>開始日時</span>
                  <span><%= f.datetime_field :start, placeholder: "XXXX-XX-XX", class: "field" %> ~ </span><br>
                  <span>終了日時</span>
                  <span><%= f.datetime_field :end, placeholder: "XXXX-XX-XX", class: "field" %></span><br>
                  <span>詳細</span>
                  <span>
                    <%= f.text_field :body, class: "form-control", placeholder: "スケジュール内容を記入してください" %>
                  </span>
                </div>
                <div class="model-footer">
                  <% f.submit "登録する", class: "btn btn-primary" %>
                  <% f.hidden_field :user_id, value => current_user.id %>
                  <button type="button" class="btn btn-default" datta-dismiss="model">閉じる</button>
                </div>
            <% end %>
            </div>
          </div>
        </div>
      </div>
<!-- 編集----------->
      <div id="inputEditForm">
        <%= render 'events/edit', events: @events %>
      </div>
    <% end %>
  <% end %>
    <script>
      // CRUDを行う際にCSR対策のtokenを発行
      $(document).ready(function() {
        var prepare = function(options, originalOptions, jqXHR) {
          var token;
          if (!options,crossDomain) {
            token = $('meta[name="csrf-token"]').attr('content');
            if (token) {
              return jqXHR.setRequestHeader('X-CSRF-Token', token);
            }
          }
        };
      }
      )
      //カレンダー表示
      $('calendar').fullCalendar ({
        header: {
          left: 'prev,next today',
          center: 'month,agendaWeek,agendaDay',
          right: 'title'
        },
        buttonText: {
          prev: "<",
          next: ">"
        },
        timezone: 'UTC',
        events: '/users/events.json',
        navLinks: true,
        selectable: true,
        selectHelper: true,
        // 日付クリック
        dayClick : function ( date , jsEvent , view ) {
          $('#inputScheduleForm').model('show');
        },
        // eventクリックで編集、削除
        eventClick : function(event, jsEvent , view) {
          jsEvent.preventDefault();
          $('#inputScheduleEditForm${event.id}').model('show');
        },
        eventMouseover : function(event, jsEvent , view) {
          jsEvent.preventDefault();
        }
      })
    </script>
</div>


<div>
  <h3><%= @user.name %></h3>
  <%= attachment_image_tag @user, :profile_image, :fill, 100, 100, format: 'jpeg', fallback: "no_image.jpg" %>


</div>