<div class="container">
  <h2 class="m-3">会員登録</h2>

  <%= form_with model: @user, url: user_registration_path,local: true do |f %>
    <%= render "users/users/shared/error_messages", resource: resource %>
    <table class="table table-borderless">
      <tbody>
        <tr>
          <td><%= f.label :name, "ユーザーネーム" %></td>
          <td><%= f.text_field :name, autofocus: true, placeholder: "name", class: "form-control" %></td>
        </tr>
        <tr>
          <td><%= f.label :email, "メールアドレス" %></td>
          <td><%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "sample@example.com" class: "form-control" %></td>
        </tr>
        <tr>
          <td><%= f.label :password, "パスワード(6文字以上)" %></td>
          <td><%= f.password_field :password, autocomplete: "new-password", class: "form-control" %></td>
        </tr>
        <tr>
          <td><%= f.label :password_confirmation %></td>
          <td><%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %></td>
        </tr>
      </tbody>
    </table>

    <div class="row">
      <%= f.submit "新規登録", class: "btn btn-success mx-auto" %>
    </div>
  <% end %>

  <h2 class="m-3">既に会員の方は</h2>
  <p class="ml-5">
    <%= link_to "こちら", new_user_session_path %>からログインしてください
  </p>

</div>
